@font-face {
  font-family: 'NovaFlat-Normal';
  src: url(./Fontz/NovaFlat-Regular.woff2);
  font-weight: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'NovaFlat-Bold';
  src: url(./Fontz/NovaFlat-Regular.woff2);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'NovaSquare';
  src: url(./Fontz/NovaSquare-Regular.woff2);
  font-weight: normal;
  font-style: normal;
}

:root {
  --bgColor: rgb(41, 180, 227);
  --mainBgColor: rgb(47, 1, 46);
  --fs: 1rem;
  --fw: bold;
  --fwThin: 600;
  --primaryFont: 'NovaFlat-Normal';
  --headerFont: 'NovaFlat-Bold';
  --buttonFont: 'NovaSquare';
  --totalFont: 'monospace';
  --normalWidth: 100%;
  --absolutelWidth: 100vw;
  --normalHeight: 100%;
  --absoluteHeight: 100vh;
  --globalMargin: 0;
  --globalPadding: 0;
}

* {
  margin: var(--globalMargin);
  padding: var(--globalPadding);
  box-sizing: border-box;
}
body{
  background-color: var(--mainBgColor);
  width: var(--absolutelWidth);
  height: var(--absoluteHeight);
}
/* Main container */
.App {
  width: var(--normalWidth);
  height: var(--absoluteHeight);
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--bgColor);
}

/* Pages */
.blogPage,
.homePage,
.paymentPage,
.ticketPage,
.checkoutPage {
  width: var(--normalWidth);
  flex: 1;
  position: relative;
}

.page-container {
  position: absolute;
  width: var(--normalWidth);
  height: var(--normalheight);
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
