@media (max-width: 576px) {
  *{
    margin: var(--globalMargin);
    padding: var(--globalPadding);
     box-sizing: border-box;
  }
  .form-grid-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    background-color: var(--bgColor);
    height: var(--absoluteHeight);
  }
  .form-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(90% - 10px);
    margin: var(--globalMargin);
  }
  .card_title {
    margin-bottom: 2rem;
  }
  .form-container button{
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .headpage {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 768px) {
  *{
    margin: var(--globalMargin);
    padding: var(--globalPadding);
     box-sizing: border-box;
  }
  .form-grid-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .form-container {
    margin: var(--globalMargin);
    position: relative;
    width: 500px;
    height: 720px;
    padding: .5rem;
  }
  .headpage {
    width: 300px;
    height: fit-content;
    overflow: hidden;
  }
.headpage h1{
  font-family: var(--primaryFont);
  font-size: 4rem;
  font-weight: var(--fwThin);
}
}
