@media screen and (max-width: 576px) {
.paymentPage {
  width: var(--normalWidth);
    display: flex;   /* Mobile Style Applied */
    flex-direction: column-reverse;   /* Mobile Style Applied */
    padding-top: 8rem;  /* Mobile Style Applied */
}
/* Right Section */
.right-section {
  width: var(--normalWidth);
  margin: var(--globalMargin);
  padding: .9rem;   /* Mobile Style Applied */
}
.card-types {
  justify-content: center; /* Mobile Style Applied */
  gap: 1rem; /* Mobile Style Applied */
}
.row-group {
  display: flex;
  gap: 0.9rem;
  width: 100%;
  overflow: hidden;
}
.row-group .form-group .form-control {
  flex: 1;
  width: 100px;
  padding: .5rem;
}


/* Left Section */
.left-section {
  margin: var(--globalMargin);
  padding: var(--globalPadding);
  width: var(--normalWidth);
  align-items: center;
}
.left-section h1 {
  font-size: 5rem;
  font-weight: var(--fwThin);
  line-height: 1;
  margin-bottom: 1rem;
}
.back-link {
  visibility: hidden; /* Mobile Style Applied */
}
.left-section .total {
  width: var(--normalWidth);
  padding: .9rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: space-between;
}
.back-link-mobile {
  color: #2c0303;
  text-decoration: none;
  text-transform: lowercase;
  margin-bottom: 0.9rem;
}
}

@media (min-width: 768px) {
  .paymentPage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primaryFont);
    width: var(--normalWidth);
    height: var(--absoluteHeight);
    padding: .5rem;
  }

  .left-section {
    width: fit-content;
    margin: var(--globalMargin);
    padding: var(--globalPadding);
    flex: 0;
  }
  .left-section h1 {
    font-size: calc(5rem - .3rem);
    font-weight: var(--fw);
    line-height: 1;
    margin-bottom: 1rem;
}
.back-link {
  visibility: hidden; /* Mobile Style Applied */
}
.left-section .total {
  width: var(--normalWidth);
  padding: .9rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: space-between;
}
.back-link-mobile {
  color: #2c0303;
  text-decoration: none;
  text-transform: lowercase;
  margin-bottom: 0.9rem;
}

  .right-section {
    width: 50%;
    border: 2px solid red;
    margin: var(--globalMargin);
    padding: var(--globalPadding);
    flex: 1;
  }
  .card-types {
    justify-content: center; /* Mobile Style Applied */
    gap: 1rem; /* Mobile Style Applied */
  }
  .row-group {
    display: flex;
    justify-content: space-evenly;
    gap: 0.9rem;
    width: 100%;
    overflow: hidden;
  }
  .row-group .form-group .form-control {
    flex: 1;
    width: 150px;
    padding: .5rem;
  }
}
