@media (max-width: 480px) {
  #event-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(200px, auto);
    height: auto;
    width: var(--absoluteWidth);
    flex: 1;
    overflow-y: auto;
    padding: .2rem;
  }

  .grid-item {
    /* Reset any specific positioning */
    grid-column: 1 / -1 !important; /* Changed from 1fr to 1 */
    grid-row: auto !important;
    flex: 1;
  }

  .grid-item .overlay button {
    font-size: calc(2rem - .9rem);
  }

  .grid-item .overlay button:hover {
    background-color: orangered;
    padding: .4rem;
    font-weight: 300;
  }
}

@media (min-width: 481px) {
  #event-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(200px, auto);
    padding: .2rem;
  }

  .grid-item {
    /* Reset any specific positioning */
    grid-column: auto !important;
    grid-row: auto !important;
    flex: 1;
  }
  .grid-item .overlay button {
    font-size: calc(2rem - .1rem);
  }
}

@media screen and (max-width: 850px) {
  #event-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    flex: 1;
    padding: .2rem;
  }
}






