@media screen and (max-width: 480px) {
    .design {
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(200px, auto);
        overflow-x: hidden;
        padding: .1rem;
    }
    .design .wrapper{
        width: 100%;
        height: fit-content;
        padding: .5rem;
        margin-top: 1rem;
        display: grid;
    }
    .design .card {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: start;
        padding: .9rem;
        margin: .2rem 0px;
        border: .1px solid rgb(2, 2, 24);
    }
     .design .card:hover {
        background-color: rgb(158, 202, 241);
        transition: all .3s ease-in-out;
        color: black;
        font-weight: bold;
        border: transparent;
    }
    
}

@media only screen and (min-width: 577px) {
    .design {
        width: var(--normalWidth);
        height: var(--absoluteHeight);
        grid-template-rows: minmax(300px, auto);
    }
     .design .wrapper{
        grid-template-columns: repeat(minmax(300px, 1fr));
        grid-template-rows: minmax(10px, auto);
        gap: .5rem;
        margin-top: 2rem;
        height: var(--normalHeight);
        width: var(--normalWidth);
    }
     .design .wrapper .card{
        margin: .3rem auto;
        width: auto;
        max-width: 80%;
        min-height: 100px;
        height: auto;
        border: 2px solid rgb(58, 28, 1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .design .wrapper .card:hover {
        background-color: rgb(1, 12, 22);
        transition: all .3s ease-in-out;
        color: aliceblue;
        font-weight: bold;
        border: transparent;
    }
}


@media screen and (min-width: 769px) {
    .design .wrapper{
        grid-template-columns: repeat(minmax(400px, 1fr));
        grid-template-rows: minmax(300px, auto);
        gap: .5rem;
        margin-top: 2rem;
    }
}


