@media screen and (max-width: 576px) {
    .design {
        width: 100%;
        min-height: 100%;
        background-color: rgb(41, 180, 227);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(200px, auto);
        overflow-x: hidden;
        padding: .1rem;
    }
    .design .wrapper{
        width: 100%;
        height: fit-content;
        padding: .5rem;
        margin-top: 1rem;
        display: grid;
    }
    .design .card {
        width: 100%;
        display: flex;
        align-items: start;
        padding: .9rem;
        margin: .2rem 0px;
        border: .1px solid rgb(2, 2, 24);
    }
     .design .card:hover {
        background-color: rgb(158, 202, 241);
        transition: all .3s ease-in-out;
        color: black;
        font-weight: bold;
        border: transparent;
    }
    
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .design {
        grid-template-rows: minmax(300px, auto);
    }
}

@media screen and (min-width: 769px) {
    .design {
        grid-template-rows: minmax(400px, auto);
    }
}
